@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.black-text {
  color: black;
}

.article-img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
}
